{{ form_start(form) }}
<div class="container">
        <div class="row">
            <div class="col-md-6">{{ form_row(form.nom) }}</div>
        </div>
        <div class="row">
            <div class="col-md-6">{{ form_row(form.prix) }}</div>
        </div>
        <div class="row">
            <div class="col-md-6">{{ form_row(form.quantite) }}</div>
        </div>
        <br>

        {{ form_rest(form) }}
        <button class="btn btn-outline-success"><i class="bi bi-check-circle"></i>{{ button_label|default(' Valider') }}
        </button>
        <a href="{{ path('produit_index') }}" class="btn btn-primary">Retour à la liste</a>
</div>
{{ form_end(form) }}